<swiper [config]="Config">
    <ng-template swiperSlide>
        <div class="slide-container swiper slide-container1">
            <div class="slide-content slide-content1">
                <p-card header="Nombres" subheader="Carrera,etc" [style]="{ width: '360px' }">
                    <ng-template pTemplate="header">
                        <img alt="Default Image" />
                    </ng-template>
                    <p>
                        Descripcion,etc
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button (onClick)="valor1()" label="Presente" icon="pi pi-check"></p-button>
                        <p-button (onClick)="valor2()" label="No presente" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </ng-template>

    <ng-template swiperSlide>
        <div class="slide-container swiper slide-container1">
            <div class="slide-content slide-content1">
                <p-card header="Nombres" subheader="Carrera,etc" [style]="{ width: '360px' }">
                    <ng-template pTemplate="header">
                        <img alt="Default Image" />
                    </ng-template>
                    <p>
                        Descripcion,etc
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button (onClick)="valor1()" label="Presente" icon="pi pi-check"></p-button>
                        <p-button (onClick)="valor2()" label="No presente" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </ng-template>

    <ng-template swiperSlide>
        <div class="slide-container swiper slide-container1">
            <div class="slide-content slide-content1">
                <p-card header="Nombres" subheader="Carrera,etc" [style]="{ width: '360px' }">
                    <ng-template pTemplate="header">
                        <img alt="Default Image" />
                    </ng-template>
                    <p>
                        Descripcion,etc
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button (onClick)="valor1()" label="Presente" icon="pi pi-check"></p-button>
                        <p-button (onClick)="valor2()" label="No presente" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </ng-template>

    <ng-template swiperSlide>
        <div class="slide-container swiper slide-container1">
            <div class="slide-content slide-content1">
                <p-card header="Nombres" subheader="Carrera,etc" [style]="{ width: '360px' }">
                    <ng-template pTemplate="header">
                        <img alt="Default Image" />
                    </ng-template>
                    <p>
                        Descripcion,etc
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button (onClick)="valor1()" label="Presente" icon="pi pi-check"></p-button>
                        <p-button (onClick)="valor2()" label="No presente" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </ng-template>

    <ng-template swiperSlide>
        <div class="slide-container swiper slide-container1">
            <div class="slide-content slide-content1">
                <p-card header="Nombres" subheader="Carrera,etc" [style]="{ width: '360px' }">
                    <ng-template pTemplate="header">
                        <img alt="Default Image" />
                    </ng-template>
                    <p>
                        Descripcion,etc
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button (onClick)="valor1()" label="Presente" icon="pi pi-check"></p-button>
                        <p-button (onClick)="valor2()" label="No presente" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </ng-template>

    <ng-template swiperSlide>
        <div class="slide-container swiper slide-container1">
            <div class="slide-content slide-content1">
                <p-card header="Nombres" subheader="Carrera,etc" [style]="{ width: '360px' }">
                    <ng-template pTemplate="header">
                        <img alt="Default Image" />
                    </ng-template>
                    <p>
                        Descripcion,etc
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button (onClick)="valor1()" label="Presente" icon="pi pi-check"></p-button>
                        <p-button (onClick)="valor2()" label="No presente" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </ng-template>
</swiper>