<nav class="navbar bg-body-tertiary" style=" box-shadow: 5px 5px 10px rgba(0,0,0,0.4)">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h3 class="navbar-brand"  aria-current="page">Educación a distancia</h3>
    
    <div class="d-flex">
      <img src="../../assets/imgsNav/user.png" alt="Bootstrap" width="35" style="border-radius: 50%;"
      class="me-2">
      <h4 class="mt-1">Root</h4>

    </div>

   
    


    <div class="offcanvas offcanvas-start param" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
      data-bs-backdrop="false"
      style="overflow: hidden; transition: all 0.4s ease-in-out;">
      <div class="offcanvas-header">
        <img src="../../assets/imgsNav/tren.png" alt="Bootstrap" width="40" class="ms-2">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> Bienvenido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" style="margin-top: 2rem;">
          <li class="nav-item agree">
            <a class="nav-link active  " aria-selected="true" aria-current="page" routerLink="listStudent"
              routerLinkActive="active" style=" margin-left: 1.5rem;" data-bs-dismiss="offcanvas" aria-label="Close"><img class="me-4"
              src="../../assets/imgsNav/tinder.png"
              width="30px">Pase de lista</a>
          </li>
          <li class="nav-item agree">
            <a class="nav-link " aria-selected="false" aria-current="page" routerLink="listAdmin"
              routerLinkActive="active" style=" margin-left: 1.5rem;" data-bs-dismiss="offcanvas" aria-label="Close"><img class="me-4"
              src="../../assets/imgsNav/mapa.png"
              width="30px">Administración de lista</a>
          </li>        

          
        </ul>

        <div class="d-grid gap-2" style="margin-top: 7rem;">
          <button class="btn btn-danger agree " type="button">LOG OUT <img class="ms-3"
            src="../../assets/imgsNav/log-out.png"
            width="20px"></button>
        </div>
      </div>

    </div>
  </div>
</nav>


